/* darkmode */
body {
  background-color: white;
  color: black;
  transition: all 0.5s;
}

.dark-mode {
  background-color: #1c1c1c;
  color: white;
  transition: all 0.5s;
}

.sun-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(../asset/sun.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 5px;
}
button{
  border-radius: 40px;
}
.moon-icon {
  display: none;
  width: 20px;
  height: 20px;
  background-image: url(../asset/moon.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 5px;
}

.dark-mode .sun-icon {
  display: none;
}

.dark-mode .moon-icon {
  display: inline-block;
}

.on-off-switch {
  display: inline-block;
  width: 40px;
  height: 20px;
  background-color: #ccc;
  border-radius: 10px;
  position: relative;
}

.on-off-switch::before {
  content: "";
  display: block;
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: white;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  left: 3px;
  transition: all 0.2s;
}

.dark-mode .on-off-switch {
  background-color: #555;
}

.dark-mode .on-off-switch::before {
  left: calc(100% - 17px);
}
/* menu burger */

/* footer */
